
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin:2;
  padding:2;
  box-sizing:border-box;
  font-family: 'Poppins';
}

body{
  background:#27374D;
  color:#DDE6ED !important;
  font-weight: bold !important;
  font-size: large !important;

}
